body {
    background-color: #f1f3f4;
    font-family: Arial, sans-serif;
}

h2 {
    color: #1967d2;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th {
    background-color: #f1f1f1;
}

td {
    white-space: pre-line;
    font-size: 13px;
    text-align: left;
}